
.card__image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}



.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  color: #212121;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 353px;
  margin: 0;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.card__like-btn {
  background-image: url(../images/like.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {

  .card__image {
  height: 288px;
}

.card__title {
    max-width: 235px;
  }

}