.cards {
  padding: 20px 0 40px;
  margin: 0 auto 0 auto;
  max-width: 1280px;
}

.cards__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
}

@media screen and (max-width: 627px) {
 .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}