.footer {
  display: flex;
  padding: 0;
}

.footer__text {
  opacity: 1;
  margin: 60px auto 60px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
