.footer {
  display: flex;
}
.footer__text {
  width: 104px;
  height: 16px;
  opacity: 1;
  position: relative;
  top: 1340px;
  left: 668px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
