.page {
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcf5e5;
}

.page__section {
   max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 627px) {
  .page__section {
    margin: 0 auto;
    max-width: 627px;
    padding: 0 20px;
  }
}